<div class="card mb-3">
  <!-- <section class="card-header-tab card-header">
    <h2 class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <i class="header-icon lnr-charts icon-gradient bg-happy-green" aria-hidden="true"></i>
      Portfolio Performance
    </h2>
    <div class="btn-actions-pane-right text-capitalize">
      <button class="btn btn-outline-focus btn-sm btn-wide btn-outline-2x mr-md-2">View All</button>
    </div>
  </section> -->
  <app-card-total-atend-geral></app-card-total-atend-geral>

 

</div>


<div class="row">
  <div class="col-sm-12 col-md-6 col-xl-4">
    <app-card-tot-atend-clinica-medico-dia></app-card-tot-atend-clinica-medico-dia>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-4">
    <app-atend-mapa-calor-semana></app-atend-mapa-calor-semana>
  </div>
</div>

