.icon-wrapper {
  margin-right: 15px; /* Espaço entre o ícone e o conteúdo */
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  line-height: 60px;
  position: relative; /* Para manter o ícone dentro do círculo */
}

.icon-wrapper .icon-wrapper-bg {
  position: absolute;
  top: 0; /* Garantir que o fundo comece do topo */
  left: 0;
  width: 100%; /* O fundo vai preencher toda a área do wrapper */
  height: 100%;
  border-radius: 50%; /* Deixar o círculo perfeito */
  z-index: 1;
  background-color: #107ef4; /* Defina a cor desejada aqui */
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-8 {
  opacity: 0.8;
}

.text-dark {
  color: #343a40; /* Cor do texto escuro */
}

.icon-wrapper i {
  font-size: 24px;
  z-index: 2;
  position: relative; /* O ícone está dentro do wrapper */
  line-height: inherit;
}

.widget-chart-content {
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  align-items: center; /* Centraliza os elementos horizontalmente */
  text-align: center; /* Centraliza o texto dentro do conteúdo */
}

.widget-subheading.title {
  margin: 0; /* Remove margens extras para garantir centralização */
}

/* Nova seção para alinhar o número e o ícone de seta em uma linha */
.widget-container {
  display: flex;
  align-items: center;
  margin-top: 0px; /* Espaçamento superior */
}

// .widget-numbers.title {
//   margin-right: 38px; /* Espaço entre o número e o ícone */
//   font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
// }

.widget-title {
  margin-right: 10px; /* Espaço entre o número e o ícone */
  font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
}

.widget-title i {
  font-size: 1.2rem; /* Tamanho do ícone, ajuste conforme necessário */
}

.widget-numbers {
  margin-right: 38px; /* Espaço entre o número e o ícone */
  font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
}


/* __________ L O G O   S L I D E R __________ */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-25% * var(--number-of-items)*0.75)); /* Total de itens */
  }
}

.partners-logo-slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #ffffff;
}

.slide-track {
  display: flex;
  animation: scroll calc(6s * var(--number-of-items)) linear infinite;
}

.slide {
  height: 80px;
  // filter: grayscale(100%);
  flex-shrink: 0; /* Para evitar que os itens encolham */
}

.slide:hover {
  cursor:pointer;
}

.partners-logo-slider:hover .slide-track {
  animation-play-state: paused; /* Pausa a animação durante o hover */
}
