<div class="rm-border bg-transparent widget-chart text-left d-flex align-items-center">
  <div class="icon-wrapper rounded-circle mr-3">
    <div class="icon-wrapper-bg opacity-10"></div>
    <i class='bx bx-clinic lnr-laptop-phone text-dark opacity-8'></i>
  </div>
  <div class="widget-chart-content">
    <h4 class="widget-subheading">Atendimentos</h4>
    <h3 class="widget-numbers">{{total}}</h3>
    <div class="widget-description opacity-8 text-focus">
      <span class="text-danger pr-1">
        <i class='bx bx-clinic'></i>
        54.1%
      </span>
      less earnings
    </div>
  </div>
</div>
