<div class="container-fluid">
  <div class="row g-0" id="grids"> <!-- g-0 remove o espaçamento entre as colunas -->

    <!-- <div class="col-md-12 col-lg-12 p-0">
      <div class="card mb-0 shadow-sm">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="icon-wrapper rounded-circle me-3 bg-success">
              <i class="fa fa-apple-alt"></i>
            </div>
            <div class="widget-content">
              <p class="widget-subheading mb-1">Consultas</p>
              <h3 class="widget-numbers mb-1">1200</h3>
              <h6 class="widget-subheading">80%</h6>
            </div>
          </div>
        </div>
      </div>
    </div> -->

</div>

<!--
<div class="colored-box"></div>
<div class="main-box">
    <h4>Updates</h4>
    <p>5 in the last 24 hours</p>
    <div class="updates-wrapper">
        <div class="line" [style.height]="lineHeight"></div>
        <div class="updates">
            <div class="update">
                <p>16:30</p>
                <p>Believing is The Absence of Doubt</p>
                <span class="circle"></span>
            </div>
            <div class="update">
                <p>15:22</p>
                <p>Start With A Baseline</p>
                <span class="circle"></span>
            </div>
            <div class="update">
                <p>14:15</p>
                <p>Break Through Self Doubt and Fear</p>
                <span class="circle"></span>
            </div>
            <div class="update" *ngIf="showUpdates">
                <p>11:05</p>
                <p>New voice and image capabilities</p>
                <span class="circle"></span>
            </div>
            <div class="update" *ngIf="showUpdates">
                <p>08:42</p>
                <p>Browsing and search on mobile</p>
                <span class="circle"></span>
            </div>
        </div>
    </div>
    <button (click)="toggleUpdates()">{{ buttonText }}</button>
</div> -->
